form {

}
.form-group {
  display: flex;
  padding: 10px;
}
.form-group label {
  font-weight: bold;
  width: 100px;
}
.form-group input {
  margin-left: 10px;
  height: 24px;
  padding: 2px 6px;
  width: 100%;
}
.form-group select {
  margin-left: 10px;
  height: 24px;
  padding: 2px 6px;
  width: 100%;
}
button {
  background-color: green;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}
button:hover {
  opacity: 0.9;
}
