.user {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.user-item {
  margin-bottom: 3px;
  font-weight: bold;
}
.user-item:last-child {
  margin-bottom: 0;
}
.user-item span {
  color: #333;
  font-weight: normal;
}
